{% extends "admin/layout.html" %}
{% block body %}
    <h1>Admin</h1>
    {% if real_name %}
        <p>Welcome to your Dropbox {{ real_name }}!</p>
        <h4>Here is what you can do</h4>
        <div>
            <a href="/scaffold">Generate Scaffold</a>
        </div>
        <div>
            <a href="/sync">Sync your files with Dropbox</a>
        </div>
        <div>
            <a href="{{ url_for('admin.dropbox_unlink') }} " method="post">Unlink your dropbox</a>
        </div>
    {% else %}
        <a href="{{ url_for('admin.dropbox_auth_start') }}">Link</a>
    {% endif %}
{% endblock %}